/* Arquivo CSS geral com estilos dos elementos de todas as páginas */
* {
font-family: Arial, Helvetica, sans-serif;
}
body {
background: url(../bg.jpg);
font-family: monospace, Courier New;
}
header {
background-color: #555;
padding: 10px 0px 10px 0px;
text-align: center;
font-size: 30px;
color: white;
width: 100%;
}
nav {
float: left;
width: 15%;
background: #ccc;
}
nav ul {
list-style-type: none;
text-decoration: none;
}
div	{
	padding: 1px;
}
article {
float: left;
padding: 0;
width: 85%;
height: 100%;
background: rgba(225, 225, 225, 0.85);
} 
section::after {
background: #ccc;
content: "";
display: table;
clear: both;
}
footer {
background-color: #555;
padding: 10px;
text-align: center;
color: white;
}
input[type=submit]{
cursor: pointer;
margin: 4px	2px;
color: black;
}
input[type=text]{
width: 60%;
padding: 12px 20px;
margin: 12px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
resize: none;
}
input[type=email]{
width: 60%;
padding: 12px 20px;
margin: 12px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
resize: none;
}
textarea{
width: 60%;
padding: 12px 20px;
margin: 12px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
resize: none;
}
input[type=checkbox]{
padding: 12px 20px;
margin: 12px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
resize: none;
}
input[type=radio]{
padding: 12px 20px;
margin: 12px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
resize: none;
}
select {
padding: 4px 12px;
margin: 12px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
resize: none;
}
li {
text-decoration: none;
text-decoration: blink;
text-decoration-color: black;
}
a:link, a:visited{ 
background-color: #ccc;
color: black;
text-decoration: none;
display: block;
}
a:hover, a:active {
background-color: green;
}
form {
background-color: #f1f1f1;
text-align: center;
}
img {
width: 400px;
height: auto;
}
ul {
padding: 10px;
}
#intro {
background-color: transparent;
width: 400px;
height: 400px;
border-radius: 50%;
overflow: hidden;
margin: 164px auto 100px;
filter: drop-shadow(10px 10px 10px #333);
}
div p {
text-align: left;
padding: 60px;
padding-left: 20px;
background: rgba(225, 225, 225, 0.85);
}
div h1 {
text-align: left;
font-size: 30px;
background: rgba(225, 225, 225, 0.85);
}
div label {
padding: auto;
font-size: 24px;
}
article h1 {
padding-top: 30px;
text-align: center;
font-size: 36px;
}
article p {
font-size: 20px;
text-align: center;
padding-bottom: 30px;
}
article h2 {
text-align: left;
font-size: 24px;
padding-top:20px ;
}
article img {
margin: 20px auto;
align-content: center;
}
.filtro {
align-items: center;
filter: blur(5px);
}
.filtro:hover {
filter: grayscale(0%);
}
.intro-1 {
width: 100%;
background: #ccc;
margin-bottom: 60px;
}
.intro-1 ul {
text-align: center;
}




@media (max-width:769px) {
header {
padding: 0%;
padding-top: 10px;
padding-bottom: 10px;
}
footer {
padding: 0%;
padding-top: 10px;
padding-bottom: 10px;
}
nav {
text-align: center;
width: 100%;
padding-top: 0px;
}
ul {
padding-top: 0px;
}
article {
text-align: center;
width: 100%;
}
article h2 {
text-align: center;
font-size: 32px;
}
input[type=text]{
width: 80%;
}
input[type=email]{
width: 80%;
}
textarea{
width: 80%;
}
}






@media (max-width: 425px){ 	
input[type=text]{
width: 80%;
min-width: 320px;
}
input[type=email]{
width: 80%;
min-width: 320px;
}
textarea{
width: 80%;
min-width: 320px;
}
header {
background-color: #555;
padding: 0px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: 30px;
color: white;
width: 100%;
min-width: 320px;
}
h1 {
padding: 0%;
padding-top: 10px;
padding-bottom: 10px;
min-width: 320px;
}
ul {
padding: 0%;
min-width: 320px;
}
.table-container {
padding: 0%;
min-width: 320px;
}
div {
padding: 0%;
min-width: 320px;
}
ul {
padding-top: 0%;
min-width: 320px;
}
body {
min-width: 320px;
width: 100%;
}
h2 {
width: 100%;
min-width: 320px;
}
footer p {
width: 100%;
min-width: 320px;
}
div p {
text-align: left;
min-width: 320px;
}
div h1 {
min-width: 320px;
text-align: center;
}
#intro {
margin: 0px;
padding: 0px;
width: 100%;
min-width: 320px;
}
img {
max-width: 400px;
width: 100%;	
min-width: 320px;
}
footer {
width: 100%;
min-width: 320px;
padding-left: 0%;
padding-top: 10px;
padding-bottom: 0%;
padding-right: 0%;
}
article {
width: 100%;
min-width: 320px;
}
nav, div {
text-align: center;
width: 100%;
min-width: 320px	
}
}


/*
 top (superior / cima)
bottom (inferior / baixo)
left (esquerda)
right (direita)
*/