
table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	font-family: sans-serif;
	text-align: center;
	background: white;
}
h1 {
	font-size: 1.8rem;
	padding: 16px;
	text-align: center;
	font-family: sans-serif;
}

#customers tr, #customers td {
	border: 1px solid #ddd;
}
#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#custom tr {
	font-weight: 200;
	font-family: sans-serif arial;
}
th {
	padding: 16px;
	border: 1px solid #ddd;
}
#head th {
	border: 1px solid;
}
.table-container {
	padding: 32px 32px;
}
tbody tr:hover {
	background-color: #7FB394;
}
thead{
	background-color:#444345 ;
	color: white;
}
tfoot{
	font-weight: normal;
}
