html {
    font-size: 62.5%;
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}
.conteiner {
    width: 100%;
    margin: 0 auto;
    display: block;
    float: left;
}
header {
    background-color: #fff;
    float: left;
    font-size: 3.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(24, 82, 46);
}
body {
    
    font-family: 'Open Sans', sans-serif;
}
section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem;
    width: 100%; 
}
h1 {
    font-size: 2.4rem;
    color: rgb(24, 82, 46);
    margin-bottom: 20px;
}
h2 {
    font-size: 2rem;
    color: rgb(24, 82, 46);
    margin-bottom: 20px;
}
h3 {
    font-size: 1.8rem;
    color: rgb(24, 82, 46);
    margin-bottom: 20px;
}
h4 {
    font-size: 1.6rem;
    color: rgb(24, 82, 46);
    margin-bottom: 10px;
    padding-top: 10px;
}
p {
    margin-bottom: 10px;
    line-height: 1.4;
}
section nav {
    display: block;
    float: left;
    width: 30%;
}
nav li {
    margin: 1px 20px 1px 0;
    padding: 10px;
    background-color:#efefef;
}
nav li:hover{
    background-color: #dfdfdf;
}
nav a {
    text-decoration: none;
    color:rgb(24, 82, 46);
}
section article {
    display: block;
    float: left;
    width: 70%;
}
ol{
    margin-left: 30px;
}
ol li {
    font-size: 1.4rem;
    color: #454545;
}
footer p {
    background-color:rgb(24, 82, 46);
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.form {
    padding-left: 21git s0px;
    padding-top: 50px;
}

@media (max-width: 550px){
.main-container { 
    display: block;
    width: 100vw;
    margin: 0 auto;
}
header {
    background-color: #fff;
    float: center;
    font-size: 3.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(24, 82, 46);
}
section {
    background-color: #fff;
    display: block;
    float: center;
    font-size: 1.5rem;
    width: 100%; 
}
section nav {
    display: inline;
    text-align: center;
    width: 100%;
}
section article {
    float: left;
    display: inline;
    width: 100%;
}
.form {
    padding-left: 0px;
    padding-top: 0px;
}

.conteiner {
    float: left;
    text-align: center;
    width: 100%;
    min-width: 320px
}
nav ul {
    width: 100%;
}
}